
.bg-black {
  background-color: black;
}

.bg-blue {
  background-color: blue;
}

.bg-grey {
  background-color: grey;
}

.bg-red {
  background-color: red;
}

.swatches li {
  border-radius: 50%;
}




