body {
  height: 100vh;
  width: 80vw;
  font-family: Roboto;
}

section {
  float: left;
  width: 20vw;
  margin: 1.15em 2em;
}

img {
  position: relative;
  width: 9vw;
  padding: 2em 4em 1em 4em;
}

.swatches {
  position: relative;
  display: inline-block;
  width: 20vw;
  text-align: center;
}

.swatches li {
  display: inline-block;
  border-radius: 50%;
  list-style-type: none;
  height: 1.15em;
  width: 1.15em;
  margin: 0 0.5vw;
}

.bg-black {
  background-color: black;
}

.bg-blue {
  background-color: blue;
}

.bg-aqua {
  background-color: aqua;
}

.bg-grey {
  background-color: grey;
}

.bg-red {
  background-color: red;
}

.bg-dkred {
  background-color: darkred;
}

a {
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

h6 {
  font-size: 1em;
  margin-top: 1em; 
  color: black;
}

p {
  margin: 0;
  padding: 0.25em;
  color: black;
}

.saleprice {
  margin-top: 1.25em;
  color: red;
}

.price {
  margin: 1.87em 0;
  color: black;
}

.strikethrough {
  text-decoration: line-through;
  color: black;
}

.ratings {
  list-style-type: none;
  margin: 1em 0;
}

i {
  color: peru;
}

.button {
  width: 8vw;
  text-align: center;
  border: 1px solid lightgrey;
  font-size: .80em;
  padding: .5em .05em;
  margin-left: 5em;
  border-radius: 2px;
}
